.bookContainer table{
    box-shadow: 0 0 10px black;
    margin: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    background: transparent;
    backdrop-filter: blur(15px);
    position: relative;
    height: fit-content;
}

#bookCount{
    text-align: right;
}

.bookContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5rem;
    margin-right: 6rem;
    overflow-y: scroll;
    max-height: 30rem;
    &::-webkit-scrollbar{
        display: none;
    }
}

#load{
    margin-top: 20rem;
}
